html {
  height: 50%;
}

body {
  background: linear-gradient(180deg, #af68ea, #6663e8);
  background-repeat: no-repeat;
  height: 100%;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 0px 5px 5px #3f3e49;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
}

h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

h2:hover {
  font-weight: bold;
  cursor: pointer;
}

.arrow {
  float: right;
}

p {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: none;
}

.left {
  max-width: 30%;
}

.right {
  max-width: 70%;
  padding-left: 50px;
}

.box {
  max-width: 8em;
  position: absolute;
  top: 190px;
  left: 90px;
}

.foreground {
  max-width: 20em;
}

.backImage {
  position: absolute;
  max-width: 30em;
  top: -20px;
  left: -50px;
}
